body {
    font-family: Arial, sans-serif;
    background-color: #c8f3bb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.calculator {
    background-color: #cae7ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #666;
}

.taxasbc{
    background-color: #fdf395;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 130px;
    width: 170px
    
}

#selic{
    width: 50px;
    ;

}


label {
    color: #666;
    display: block;
    margin-bottom: 5px;

}

input {
    width: 100% auto;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e3ffdb96;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultado {
    font-size: 18px;
    margin-top: 20px;
}
